html, body {
    background-color: #121212;
    color: white;
    font-family:"Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    margin: 0;
}

.hero {
    background-image: url('/hero_img.png');
    background-size: cover;
    padding: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 42.8px;
}

h2 {
    font-size: 14px;
}

h3 {
    font-size: 18px;
}

.search {
    height: 38px;
    text-align: center;
    margin-top: -20px;
    position: relative;
    font-size: 0;  /*to get rid of whitespace before button*/
}

#search-input,
#search-btn {
    border: none;
    margin: 0;
}

#search-input {
    background-color: #2E2E2F;
    border-radius: 6px 0 0 6px;
    height: inherit;
    padding: 9px 30px 9px 41px;
    width: 462px;
    color: #A5A5A5;
}

#search-input::placeholder {
    color: #A5A5A5;
    font-size: 14px;
    font-weight: 500;
}

#search-btn {
    background-color: #4B4B4B;
    color: white;
    padding: 9px 32px;
    border-radius: 0 6px 6px 0;
    height: inherit;
}

.search i {
    color: #9ca3af;
    background-color: #2E2E2F;
    height: 16px;
    top: 0;
    bottom: 0;
    margin: auto 2px auto 12px;
    position: absolute;
    font-size: 1rem;
}

.watchlist {
    color: #2E2E2F;
    margin: 240px;
    text-align: center;
}

.watchlist i {
    font-size: 70px;
}