html, body {
    background-color: #121212;
    color: white;
    font-family:"Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url('/hero_img.png');
    background-size: cover;
    padding: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 42.8px;
}

h2,
a.empty-user-watchlist,
.star-icon,
.film-plot,
#search-input::placeholder {
    font-size: 14px;
}

h3,
#user-watchlist i,
.film-title {
    font-size: 18px;
}

#search-form i,
#watchlist.foundFilms i,
.film-info li i {
    font-size: 1rem;
}

#search-form {
    height: 38px;
    text-align: center;
    margin-top: -20px;
    position: relative;
    font-size: 0;  /*to get rid of whitespace before button*/
}

#search-input,
#search-btn {
    border: none;
    margin: 0;
}

#search-input {
    background-color: #2E2E2F;
    border-radius: 6px 0 0 6px;
    height: inherit;
    padding: 9px 30px 9px 41px;
    width: 462px;
    color: #A5A5A5;
}

#search-input::placeholder {
    color: #A5A5A5;
    font-weight: 500;
}

#search-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgb(131, 96, 0) inset;
    -webkit-text-fill-color: whitesmoke;
}

#search-btn {
    background-color: #4B4B4B;
    color: white;
    padding: 9px 32px;
    border-radius: 0 6px 6px 0;
    height: inherit;
}

#search-btn:hover,
#search-btn:focus {
    background-color: #adadad;
}

#search-btn:active {
    background-color: #242424;
}

#search-form i {
    color: #9ca3af;
    background-color: #2E2E2F;
    height: 16px;
    top: 0;
    bottom: 0;
    margin: auto 2px auto 12px;
    position: absolute;
}

#watchlist {
    color: #2E2E2F;
    margin: 240px;
    text-align: center;
}

#watchlist.foundFilms {
    margin: 12px 44px;
    text-align: left;
}

#watchlist i {
    font-size: 70px;
}

#watchlist li {
    color: white;
}

#user-watchlist {
    color: #787878;
    text-align: center;
    margin: 25vh 0;
}

#user-watchlist h3 {
    margin: 0 15px 15px;
}

a.empty-user-watchlist {
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin: 0 30vw;
    font-weight: 600;
    letter-spacing: 0.2px;
    cursor: pointer;
}

a.empty-user-watchlist:hover,
a.my-watchlist-link:hover {
    color: #9ca3af;
}

.empty-user-watchlist p {
    margin: 0;
}

a.empty-user-watchlist,
a.my-watchlist-link {
    color: white;
    text-decoration: none;
}

.film {
    border-bottom: 1.5px solid #2c2c2c;
    padding: 24px 0px;
    gap: 0 21px;
}

.film,
.film-title-rating,
.film-info,
.plus-watchlist,
.empty-user-watchlist{
    display: flex;
    flex-direction: row;
}

.plus-watchlist {
    cursor: pointer;
}

.film-title-rating {
    align-items: center;
    text-align: left;
}

.film-title {
    font-weight: 500;
    margin: 11px 4px 11px 0;
}

.star-icon {
    margin-right: 4px;
}

.film-rating {
    font-size: 12px;
    font-weight: 400;
}

.film-poster {
    width: 99px;
    height: auto;
    flex-shrink: 0;
}

.film-info {
    gap: 0 19px;
    font-weight: 400;
    font-size: 12px;
}

.film-info li i {
    margin-right: 5px;
}

.film-plot {
    text-align: left;
    color: #a5a5a5;
    font-weight: 400;
    line-height: 20px;
}